body {
    margin: 0;
    font-family: Arial, sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.navbar {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3ededdb;
    padding: 15px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}
.nav-right{
    margin-right: 100px;
}
.nav-left{
    margin-left: 100px;
}
.nav-left a, .nav-right a {
    color: rgb(17, 8, 8);
    text-decoration: none;
    margin: 0 10px;
    padding: 10px;
}

.nav-left a:hover, .nav-right a:hover {
    background-color: #575757;
    border-radius: 4px;
}

.logo {
    height: 40px;
    margin-right: 10px;
}

.company-name {
    color: rgb(16, 7, 7);
    font-size: 18px;
    font-weight: bold;
}

.content {
    padding: 100px 20px 20px;
    text-align: center;
}

h1 {
    font-size: 36px;
    color: #333;
}

p {
    font-size: 18px;
    color: #666;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}

/* home section */
/* home section styling */
.home{
    margin-top: 150px;
}
.home .title::after {
    content: "";
}

.home .home-content .left {
    width: 45%;
}

.home .home-content .left img {
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.home .home-content .right {
    width: 55%;
}

.home .home-content .right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.home .home-content .right .text span {
    color: rgb(13, 13, 13);
}

.home .home-content .right p {
    text-align: justify;
}

.home .home-content .right a {
    display: inline-block;

    background: rgb(13, 13, 13);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(16, 15, 15);
    transition: all 0.3s ease;
}

.home .home-content .right a:hover {
    color: rgb(21, 2, 6);
    background: none;
}
.home,.homeAbout {
    font-family: 'Poppins', sans-serif;
}
.home .home-content,.homeAbout .home-content-about{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

/* home-about styling */
.homeAbout {padding: 100px;}
.homeAbout .home-content-about .right {
    width: 45%;
}

.homeAbout .home-content-about .right img {
    padding-left: 30px;
    height: 400px;
    width: 400px;
    object-fit: cover;
    border-radius: 6px;
}

.homeAbout .home-content-about .left {
    width: 55%;
}

.homeAbout .home-content-about .left .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}

.homeAbout .home-content-about .left .text span {
    color: rgb(13, 13, 13);
}

.homeAbout .home-content-about .left p {
    text-align: justify;
}

.homeAbout .home-content-about .left a {
    display: inline-block;

    background: rgb(13, 13, 13);
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid rgb(16, 15, 15);
    transition: all 0.3s ease;
}

.homeAbout .home-content-about .left a:hover {
    color: rgb(21, 2, 6);
    background: none;
}
/* design section styling */
.services,
.teams {
    color: #fff;
    background: #111;
}

.services .title::before,
.teams .title::before {
    background: #fff;
}

.services .title::after,
.teams .title::after {
    background: #111;
    content: "";
}

.services .serv-content .card {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 50px 25px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.services .serv-content .card:hover {
    background: rgba(14, 13, 13, 0.499);
}

.services .serv-content .card .box {
    transition: all 0.3s ease;
}

.services .serv-content .card:hover .box {
    transform: scale(1.05);
}

.services .serv-content .card i {
    font-size: 50px;
    color: crimson;
    transition: color 0.3s ease;
}

.services .serv-content .card:hover i {
    color: #fff;
}

.services .serv-content .card .text {
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
